*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anurati";
}

html,body {

width: 100%;
height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #82616d;
}

#left{
    position: relative;
    width: 45%;
    height: 100%;
}

#nav {
    padding: 50px 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    color: #fff;
}

#nav h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
}

#nav a {
    font-family: "Montserrat";
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}

#centerimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1673792327196-891fb07c0e3f?w=200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3w3fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-color: #000;
}

#centerimg #text {
    position: absolute;
   top: 110%;
    width: 100%;
    height: 60px;
    background-color: red;
}


#center{
    width: 45%;
    height: 100%;
    background-color: rgb(20, 233, 105);
}

#right {
    width: 10%;
    height: 100%;
    background-color: #82616d;
}
