*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
  
 }

#left{
    width: 80%;
    height: 100%;
  
}
#left #ltop {
    width: 100%;
    height: 70%;
    background-image: url(https://images.unsplash.com/photo-1466781783364-36c955e42a7f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fE1pbmltYWwlMjBwbGFudHN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

#left #lbuttom {
    width: 100%;
    height: 70%;
    color: white;
    padding: 100px 200px;
    background-color: #000;
  
}

#lbtmcontent {
    font-family: "anurati";
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #000;
    color: #fff;
    
    
}

#cntntleft {
   
    flex-direction: column;
    align-content: first baseline;
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: 100%;
  
}

#cntntleft p {
      width: 70%;
      margin-top:20px;
      font-size: 10px;
}

.row {

    flex-direction: column;
    padding-right: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.relem {
   display: flex;
}

.relemtext {
    margin-left: 10px;
}

.relemtxt h6 {
    opacity: .5;
    font-weight: 500;
    flex-direction: column;
}

#right{
    width: 20%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1506543277633-99deabfcd722?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8);
    background-position: cover;
   
}
#cntntright {
    width: 45%;
    height: 100%;

   
}

#bottonright {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 120px
}
#right #rtop {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    padding: 70px;
    background-color: #fff;
}

#rtop a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "anurati";
}

#rtop #selected {
    margin-left: 20px;
    position: relative;
}

#rtop #selected::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 7px;
    width: 10px;
    height: 2px;
    background-color: #000;
}

#icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    top: 0;
    right: 0;
    position: absolute;
}

#icons i {
    font-size: 20px;
}

#btmflower {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 120px;
    background-image: url(https://images.unsplash.com/photo-1574948263840-0a9956798e1c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: bottom;
}

#btmflower i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff; 
    background-color: #00000060;
    font-size: 20px;
}

#right #rbuttom {
    width: 100%;
    height: 30px;
    background-image: url(https://media.istockphoto.com/id/1283068141/photo/nature-landscape.webp?s=170667a&w=0&k=20&c=_5Yf8bxhUcqkiutO8GBgoXl__UcHD8APFlRmbqFOw2U=);
    background-size: cover;
}  

#cap {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
}