*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "anurati";
}

html,body {
width: 100%;
height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #8d4d59;
    font-family: Arial, Helvetica, sans-serif;
}

#mtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#mtext h1 {
    user-select: none;
    color: #fff;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 7vw;
}

#mtext h4 {
    user-select: none;
    white-space: nowrap;
    font-family: "Anurati";
    color: #fff;
    font-weight: 100;
    font-size: 5vw;
    line-height: 1;
}




#left{
    overflow: hidden;
    position: relative;
    width: 45%;
    height: 100%;
}

#nav {
    padding: 50px 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    color: #fff;
}

#nav h3 {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
}

#nav a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}

#centerimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1523951541182-f85facd2f936?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDI5fHxidW5jaCUyMG9mJTIwZmxvd2Vyc3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
   
}

#centerimg #text {
    display: flex;
    position: absolute;
    top: 110%;
    width: 100%;
    color: #fff;
}

#text #parts {
    width: 30%;
}

#parts h5 {
 font-weight: 400;
 margin-bottom: 20px;
}

#text #para {
    width: 70%;
}

#para p {
    font-weight: 400;
    font-size: 9px;
    line-height: 20px;
}

#scroll {
    bottom: -10px;
    left: 10%;
    transform-origin: 0% 50%;
    transform: rotate(-90deg);
    position: absolute;
    display: flex;
    gap: 20px;
    align-items: center;
}

#scroll #line {
    width: 150px;
    height: 2px;
   background-color: #fff;
   
}

#scroll h4 {

    letter-spacing: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;

}


#center{
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1518895949257-7621c3c786d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHZhbGVudGluZXN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}

#center #card {
    display: flex;
    position: absolute;
    right: -5%;
    bottom: 10%;
    width: 260px;
    z-index: 999;
    height: 170px;
    background-color: red;
}

#cicons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    background-color: #fff;
}

#cimage {
    width: 80%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1661609624774-764931dee3af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
}
    


#right {
    width: 5%;
    height: 100%;
}

#relem {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 70%;  
    color: #fff;
}

#relem #rlinks {
    display: flex;
    gap: 50px;
    transform: translateY(-150px)rotate(90deg);
}

#rlinks a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}